body {  
  font-family: 'Roboto', sans-serif;
}

.navText{  
  opacity: 0.5;
}

.navText:hover {
  opacity: 1;
  color: white;
}

.navColor {
  color: white;
}

.fa-github, .fa-linkedin {
  font-size: 24px;
}

.divider {
  height: 5px;
  width: 40px;
  background: royalblue;
}

.headerColor {
  color: royalblue;
}

#about h4 {
  color: gray;  
}

section {
  position: relative;
  z-index: -1;
}

.menu {
  color: royalblue;
  border: none;
  position: fixed;
  cursor: pointer;
  top: 20px;
  right: 20px;
  z-index: 100;
}

.is-current {
  opacity: 1;
}

.outsideLayer {
  transition: opacity 0.3s, visibility 0.3s; 
  position: absolute;
  opacity: 0;
  visibility: hidden;
  width: 100vw;
  min-width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,.50);
  z-index: 900;
}

.outsideLayer.show {  
  transition: opacity 0.3s; 
  opacity: 1;
  visibility: visible;
}

.containerMobile {
  transition: left 0.5s, right 0.5s;
  width: 300px;
  height: 100%;
  z-index: 901;
}

.mainContainer {
  height: 100%;
  min-height: 100vh;
}

.mainContainerMobile {
  position: absolute;
  width: 100vw;
  min-width: 100%;
  top: 0;
  left: 0;
}

.hide {
  left: -300px;
}

.show {
  left: 0px;
}

@media (min-width: 768px) {
  .side-drawer {
      display: none;
  }
  .hero p {
    font-size: 7em;
  }
}

@media (max-width: 768px) {
  .nav {
    height: 100%;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.753);;
  } 
  #heroText, .typed-cursor {
    font-size: 1.5rem;
  }
  .hero p {
    font-size: 3em;
  } 
}

@media (min-width: 768px) {
  .nav {
    height: 100%;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.753);
  }
  .content {
    margin-left: 300px;
  }
  button {
    visibility: hidden;
  }
  .typed-cursor, #heroText {
    font-size: 2rem;
}
}

.navDiv {
  position: relative;
}

.navRow {
  position: fixed;
  top: 0;
}

#Home {
  height: 100vh;
}

#Portfolio, #Interests {
  background-color: #f5f8fd;
}

#Skills, #About {
  background-color: #f5fdf5
}

#About, #Portfolio, #Interests, #Skills {
  padding-top: 60px;
  padding-bottom: 60px;
}

.badge-pill {
  background-color: royalblue
}

.img-thumbnail {
  width: 120px;
}

ul {
  padding: 0;
}
.hero-container {
  position: absolute;
  background-image: url(./Assets/background-texture.jpg);
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  background-size: cover;
  opacity: 0.8;
  height: 100vh;
  z-index: 1;
}

.hero {
  position: relative;
  z-index: 2;
  height: 100vh;
}

.container {
  padding-left: 5vw;
  padding-right: 5vw;
}

.hero p {
  color: white;
  text-align: center;
  position: relative;
  top: 30vh;
}

#heroText {
  top: 28vh;
}

#Skills .fab {
  font-size: 48px;
}

.skillsCol {
  text-align: center;  
}

.fa-react {
  color: #60dbfb;
}

.fa-bootstrap {
  color: #609
}

.fa-html5 {
  color:rgb(241, 101, 41)
}

.fa-js-square {
  color: rgb(247, 223, 30)
}

.fa-npm {
  color:rgb(204, 53, 52)
}

.fa-css3-alt {
  color:rgb(41, 101, 241)
}

